<div class="page-header">
  <h1>User Dashboard</h1>
</div>

<div class="row">
  <div class="span9">
    <h2>Heading</h2>
  </div>
  <div class="span3">
    <div class="well">
      <dl class="dl-horizontal">
        <h2>Upcoming Reveiw</h2>
        <h4><%= @period %></h4><br>
        <dt>Days left:</dt>
        <dd><%= (@end_date - DateTime.now).to_i %></dd>
        
        <h2>My Goals</h2>
        <dt>Goals:</dt>
        <dd><%= @goals_total %></dd>
        <dt>Open:</dt>
        <dd><%= @goals_open %></dd>
        <dt>Closed:</dt>
        <dd><%= @goals_closed %></dd>
        <dt>In Progress:</dt>
        <dd><%= @goals_in_progress %></dd>
      </dl>
    </div>
  </div>
</div>
